<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="Inventory App" />

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block head_javascript %}
    {% endblock head_javascript %}

</head>
<body>
{% block body %}
    <div class="wrapper">
        {% block body_head %}
            <div class="head">
                <div class="p head-title">
                    <h1>{% block title %}Inventory App{% endblock title %}</h1>
                </div>
                <div class="head-container">
                    <div class="head-container-menu block">
                        {% block body_menu %}
                            <h1>Sidebar</h1>
                        {% endblock body_menu %}
                    </div>
                    <div class="head-container-notifications block">
                        {% block body_notification %}
                            <h1>Notification</h1>
                        {% endblock body_notification %}
                    </div>
                    <div class="head-container-user block">
                        {% block body_user %}
                            <h1>user</h1>
                        {% endblock body_user %}
                    </div>
                </div>
            </div>
        {% endblock body_head %}

        {% block body_container %}
            <div class="container">
                <div class="container-left block" >
                    {% block body_container_left %}
                        <h1>left</h1>
                    {% endblock body_container_left %}
                </div>

                <div class="container-main block">
                    {% block body_container_main %}
                        <h1>main</h1>
                    {% endblock body_container_main %}
                </div>
            </div>
        {% endblock body_container %}

        {% block body_footer %}
            <div class="footer">
                <h1>footer</h1>
            </div>
        {% endblock body_footer %}
    </div>
    {% block body_javascript %}{% endblock body_javascript %}
{% endblock body %}
</body>
</html>
